:root {
    --lilas-5: #4A2C5A; /* mais escuro */
    --lilas-4: #7f5c8c;
    --lilas-3: #A472BC;
    --lilas-2: #C8A9E3;
    --lilas-1: #F6E3FF; /* mais claro */
    --fundo-ago: #FDF7F3;
    --link-selec: #606060;
    --white: #FFFFFF;
}

*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'open Sans', sans-serif;
}

html, body #root {
  background-color: var(--lilas-1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fraseImpacto {
  background-color: var(--lilas-2);
  color: var(--white);
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
};
