.sessionComoAjudar {
    width: 100%;
    text-align: center;
    color: var(--lilas-1);
    background-color: var(--lilas-5);
    padding: 3rem;
}


.sessionComoAjudar h1 {
    padding-bottom: 1rem;
}

.sessionComoAjudar p {
    margin: auto;
    max-width: 600px;
    color: var(--lilas-2);
}

/* Session Cards*/
.sessionFormasDeAjudar {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.sessionFormasDeAjudar h2 {
    font-size: 2.5rem;
    color: var(--lilas-5);
    margin: 2rem;
}

.sessionCards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 300px;
    height: 400px;
    padding: 1.5rem;
    background-color: var(--lilas-2);
    border-radius: 10px;
    box-shadow: 0 0 5px 2px var(--lilas-3);
}

.cardTitulo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--lilas-4);
}

.cardDesc {
    color: var(--lilas-1);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.list {
    list-style: none;
}

.listItem {
    font-size: 1rem;
    color: var(--lilas-3);
}

.linkAgo {
    margin-top: 1rem;
}

/* Session Como Entregar*/
.sessionComoEntregar {
    width: 100%;
    text-align: center;
    background-color: var(--lilas-3);
    padding: 2rem;
    box-shadow: 0px 3px 5px #606060, 0px -2px 5px #606060;
}

.sessionComoEntregar h2 {
    font-size: 2.5rem;
    color: var(--lilas-1);
    margin-bottom: 1rem;
}

.sessionComoEntregar p {
    font-size: 1.2rem;
    color: var(--lilas-1);
}

/* Responsividade Mobile */
@media (max-width: 768px) {
/* session Como Ajudar */
.sessionComoAjudar {
    padding: 1.5rem;
}

/* Session Cards*/
.sessionFormasDeAjudar h2 {
    font-size: 1.8rem;
}

.sessionCards {
    display: block;
}

.card {
    width: 80%;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
}

.cardTitulo {
    font-size: 1.3rem;
}

.cardDesc {
    font-size: 1rem;
}

.listItem {
    font-size: 0.8rem;
}

.linkAgo {
    margin-top: 1rem;
}

/* Session Como Entregar*/
.sessionComoEntregar h2 {
    font-size: 1.8rem;
}

.sessionComoEntregar p {
    font-size: 1rem;
}
}